*{
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: Montserrat-ExtraBold;
    src: url(../fonts/Montserrat-ExtraBold.ttf);
}

@font-face {
    font-family: Montserrat-Bold;
    src: url(../fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: Montserrat-Medium;
    src: url(../fonts/Montserrat-Medium.ttf);
}
@font-face {
    font-family: Montserrat-light;
    src: url(../fonts/Montserrat-Light.ttf);
}


.container{
    width: 1130px;
    /* height: 100vh; */
    /* background-color: aqua; */
    margin-left: 160px;

}

.header{
    margin-top: 14px;
    height: 44px;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: space-between;
    align-items:baseline;
}

.header__left{
    display: flex;
    height: 44px;
    align-items: center;
}

.nav__ul{
    margin-left: 36px;
    display: flex;
    width: 375px;
    justify-content: space-between;
    
}

.headline3{
    color: var(--blueberry-100, #1A404C);
    font-family: Montserrat-ExtraBold;
    font-size: 19px;
    line-height: 40px; 
}

.letter__yellow{
    color: #FFD101;
}
.foto-1{
width: 490px;
height: 610px;
margin-right: 32px;
}
.label{
    color: var(--blueberry-100, #1A404C);
    font-family: Montserrat-Bold;
    font-size: 14px;
    line-height: 20px;
}

.nav__ul li{
    list-style-type: none;
}

.nav__ul li a{
    text-decoration: none;
}

.btn-call{
    width: 130px;
    height: 44px;
    border-radius: 8px;
    background: var(--yellow-100, #FFD101);
    border: none;
    color: var(--white, #FFF);
    font-family: Montserrat-Bold;
    font-size: 14px;
    line-height: 20px;
}


.main_hero{
    display: flex;
    margin-top: 96px;
    justify-content: space-between;
    align-items: center;
}

.main_hero-descript{
    width: 450px;
    margin-right: 47px;
    margin-top: 96px;
}

.headline1{
    color: var(--blueberry-100, #1A404C);
    font-family: Montserrat-ExtraBold;
    font-size: 40px;
    line-height: 54px;
}

.headline4{
    color: var(--black, #000);
    font-size: 16px;
    line-height: 28px;
    font-family: Montserrat-Medium;
}

.main_hero_p2{
    margin-top: 24px;
    margin-bottom: 32px;
}
.main_cake{
    height: 466px;
    width: 354px;
    margin-top: 96px;
    margin-left: 32px;
}
.main_cake1{
    height: 466px;
    width: 354px;
    margin-top: 96px;
}
.mest{
    margin-top: 138px;
    margin-left: 297px;
}
.mest-1{
    margin-top: 94px;
    margin-left: 454px;
    margin-bottom: 116px;
}
.cont_cake1{
    display: flex;
}
.cont_cake2{
    display: flex;
    margin-top: -50px;
}
.name_zac{
    margin-left: 108px;
    margin-top: 28px;
}.name_zac1{
    margin-left: 140px;
    margin-top: 28px;
}.name_zac2{
    margin-left: 135px;
    margin-top: 32px;
}.name_zac3{
    margin-left: 73px;
    margin-top: 30px;
}.name_zac4{
    margin-left: 120px;
    margin-top: 30px;
}.name_zac5{
    margin-left: 115px;
    margin-top: 30px;
}
.mnb{
    margin-left: 110px;
    margin-top: 22px;
}
.box{
    width: 352px;
    height: 358px;
}
.box-l{
    width: 352px;
    height: 358px;
    margin-left: 32px;
}
.foto-2{
    width: 60px;
    height: 60px;
    margin-left: 146px;
    margin-top: 86px;
}
.t1{
    width: 264px;
    height: 37px;
    margin-left: 44px;
    margin-top: 30px;
    font-size: 18px;
}
.t2{
    font-size: 19.5px;
    width: 294px;
    height: 100px;
    margin-left: 28px;
    margin-top: 14px;
    line-height: 26px;
    text-align: center;
    font-size: 16px;
    font-family: Montserrat-light;
    line-height: 26px;
}
.flex{
    display: flex;
}
.t3{
    width: 264px;
    height: 37px;
    margin-left: 53px;
    margin-top: 30px;
    font-size: 18px;
}
.t4{
    width: 264px;
    height: 37px;
    margin-left: 68px;
    margin-top: 30px;
    font-size: 18px;
}
.t5{
    font-size: 18px;
    width: 320px;
    height: 100px;
    margin-left: 24px;
    margin-top: 13px;
    line-height: 26px;
    text-align: center;
    font-size: 16px;
    font-family: Montserrat-light;
    line-height: 26px;
}
.t6{
    font-size: 19.5px;
    width: 300px;
    height: 100px;
    margin-left: 36px;
    margin-top: 14px;
    line-height: 26px;
    text-align: center;
    font-size: 16px;
    font-family: Montserrat-light;
    line-height: 26px;
}
.com1{
    width: 1120px;
    height: 146px;
    margin-top: 97px;
    border-radius: 16px;
    border-top-right-radius: 100px;
    background-color: #FFD101;
}
.mert1{
    margin-left: 112px;
    margin-top: 38px;
}
.mert2{
    margin-left: 365px;
    margin-top: 38px;
}
.mert3{
    margin-left: 277px;
    margin-top: 38px;
}
.foto-3{
    width: 544px;
    height: 700px;
    margin-top: 97px;
}
.headline2{
    font-size: 28px;
    color: var(--blueberry-100, #1A404C);
    font-family: Montserrat-ExtraBold;
}
.mart{
    margin-left: 30px;
    margin-top: 215px;
}
input{
    width: 400px;
    height: 48px;
    margin-bottom: 21px;
}
.mesr{
    margin-left: 28px;
    margin-top:71px ;
}
.als{
    margin-top: 97px;
    margin-left: 250px;
}
.box2-1{
    width: 256px;
    height: 286px;
    margin-top: 124px;
    background-color: #5995B2;
}
.box2-2{
    width: 256px;
    height: 286px;
    margin-left: 32px;
    margin-top: 124px;
    background-color: #C2C1AA;
}
.box2-3{
    width: 256px;
    height: 286px;
    margin-left: 32px;
    margin-top: 124px;
    background-color: #B8985F;
}
.box2-4{
    width: 256px;
    height: 286px;
    margin-left: 32px;
    margin-top: 124px;
    background-color: #3FC6D6;
}
.shar{
    width: 90px;
    height: 90px;
    background-color: #FFF;
    border-radius: 256px;
    margin-left: 84px;
    margin-top: -40px;
}
.tl{
    margin-left: 120px;
    margin-top: -74px;
}
.text{
    margin-left: 36px;
    font-size: 18px;
    margin-top: 62px;
}
.text-m{
    width: 180px;
    height: 104px;
    margin-left: 35px;
    text-align: center;
    font-size: 19px;
    margin-top: 18px;
    line-height: 26px;
}
.a-1{
margin-left: 52px;
margin-top: 64px;
}
.a-2{
   margin-left: 112px; 
}
.a-3{
    width: 170px;
}
.a-4{
    margin-left: 63px;
margin-top: 60px;
}
.a-5{
    margin-left: 204px;
    margin-top: 66px;
}
.alk{
    width: 352px;
    height: 397px;
    border-radius: 16px;
    border-top-right-radius: 100px;
    margin-top: 62px;
}
.pos1{
    width: 150px;
    height: 130px;
    margin-left: 16px;
    margin-top: 16px;
}
.pos2{
    margin-left: 86px;
    margin-top: -88px;
    width: 180px;
    height: 150px;
}
.as1{
    margin-top: 6px;
margin-left: 32px;
font-size: 16px;
line-height: 26px;
width: 288px;
}
.as2{
margin-left: 32px;
margin-top: 41px;
}
.alk1{
    margin-left: 32px;
}
.ap{
    margin-top: 175px;
    font-size: 32px;
}
.ap2{
    font-size: 32px;
}
.as{
    margin-left: 48px;
    margin-top: 130px;
}
.asd{
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.in{
    width: 483px;
    height: 61px;
    margin-bottom: 30px;
}
.jj{
    margin-top: 36px;
}
.mm{
    margin-top: 146px;
    margin-left: 450px;
}
.cont_cake3{
    display: flex;
    margin-top: 50px;
}
.name_1{
    text-align: center;
    font-size: 17px;
    width: 310px;
    margin-left: 12px;
    margin-top: 15px;
}
.bn{
    width: 544px;
    height: 600px;
    border-radius: 32px;
    border-top-right-radius: 150px;
    margin-top: 60px;
    margin-left: 190px;
}
.headline2-1{
    font-size: 32px;
    color: var(--blueberry-100, #1A404C);
    font-family: Montserrat-ExtraBold;
}
.vb{
    margin-top: 58px;
    margin-bottom: 24px;
}
.vb2{
    font-size: 16px;
    width: 380px;
    font-family: Montserrat-light;
    line-height: 24px;
}
.vb3{
    margin-top: 112px;
    margin-bottom: 24px;
}
.vb4{
    width: 147px;
    font-size: 16px;
    font-family: Montserrat-light;
    line-height: 28px;
    margin-top: -6px;
}
.vb5{
    margin-top: 106px;
    margin-bottom: 18px;
}
.vb6{
    font-size: 16px;
    font-family: Montserrat-light;
    line-height: 24px;
}
.icon{
width: 48PX;
height: 48px;
margin-top: 24px;
}
.po{
    margin-left: 32px;
}
.ss1{
    font-size: 16px;
    font-family: Montserrat-light;
    line-height: 24px;
    margin-top: 13px;
    margin-left: 80px;
}
.ss2{
    font-size: 16px;
    font-family: Montserrat-light;
    line-height: 24px; 
    margin-top: 13px;
    margin-left: 292px;
}
.ss3{
    font-size: 16px;
    font-family: Montserrat-light;
    line-height: 24px;
    margin-top: 13px;
    margin-left: 200px;
}
.com2{
    width: 1120px;
    height: 224px;
    margin-top: 155px;
    border-radius: 16px;
    border-top-right-radius: 100px;
    background-color: #3FC6D6;
    display: flex; 
}
.mrl{
    margin-top: 54px;
    margin-left: 40px;
}
.mrl-1{
    margin-top: 144px;
    margin-left: -305px;
    font-size: 16px;
    font-family: Montserrat-light;
    line-height: 24px;
}
.xx{
    margin-left: 230px;
    margin-top: 90px;
}
.flex-1{
    display: flex;
    background: rgba(205, 214, 219, 0.3);
    height: 348px;
    width: 1432px;
    margin-top: 148px;
}
footer{
    background-color: #D9D9D9;
    width: 1432px;
    height: 118px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: Montserrat-light;
    line-height: 24px;
}
.body1{
    font-size: 16px;
    font-family: Montserrat-light;
    line-height: 28px;
}
.x{
    margin-left: 160px;
    margin-top: 38px;
}
.c{
    margin-top: 42px;
    width: 285px;
    height: 84px;
}
.z{
    margin-top: 40px;
    margin-left: 117px;
}
.v{
    margin-top: 17px;
}
.j{
    margin-bottom: 40px;
}
.z1{
    margin-top: 40px;
    margin-left: 102px;
}
.z2{
    margin-top: 40px;
    margin-left: 140px;
}
.icon-1{
    width: 32PX;
    height: 32px;
    margin-top: -12px;
    }
    .po-1{
        margin-left: 17px;
    }
    .ui{
        margin-top: 29px;
    }